<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório por data</title>
</head>
<body>
    <form>
          <p>Data incial : <input type="date" name="data_incial" id="data_incial"></p>
          <p>Data final  : <input type="date" name="data_final" id="data_final"></p>
      <table border="1">
    <tr>
    <h1>Pedidos:</h1>

    <th>Numero do pedido</th>
    <th>produto</th>
    
    </tr>
    <tr>
        <td> x </td>
        <td> y</td>
        

    </tr>
    </table>

        
        
        <input type="submit" name="gerar_relatorio" id="gerar" value="Gerar pdf">
    </form>
    
    
</body>
</html>