<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório por usuario</title>
</head>
<body>
    <form>
        <h3>Pedidos do cliente Nome_do_cliente:</h3>
        <p>id do cliente:</p>

      <table border="1">
    <tr>
    

    <th>Numero do pedido</th>
    <th>Data do pedido</th>
    <th>Data de entrega</th>
    <th>Status do pedido </th>
    
    </tr>
    <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        
        

    </tr>
    <tr>
            <td> x </td>
            <td> x </td>
            <td> x </td>
            <td> x </td>
            
            
    
        </tr>
    </table>

        
        
        <input type="submit" name="gerar_relatorio" id="gerar" value="Gerar pdf">
    </form>
    
    
</body>
</html>