<!doctype html>
 <html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width">
         <title>Compra Finalizada</title>
     </head>
     <body>

         <h1>Compra finalizada!</h1>
         <p>Obrigado pela compra!
         Preencha seus dados para efetivar a compra.</p>

         <h2>Sua compra</h2>
         <dl>
             <dt>Produto</dt>
             <dd>xxx</dd>

             <dt>Cor</dt>
             <dd>xxx</dd>

             <dt>Tamanho</dt>
             <dd>x</dd>

             <dt>Preço</dt>
             <dd>R$</dd>
         </dl>

     </body>
 </html>