<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fechar compra</title>
</head>
<body>
    <form action="" method="get">
       <fieldset> Número do pedido: </fieldset>
       <fieldset> Produto:</fieldset>
       <fieldset> Nome do cliente:</fieldset> 
       <fieldset> Forma de pagamento:<select name="formaPagamento">
        <option value="1">Dinheiro</option>
        <option value="2">Cartão de débito</option>
        <option value="2">Cartão de crédito</option>
       </select></fieldset> 

        
        <br>
       <input type="submit" name="comprar" id="enviar" value="Finalizar compra">
    </form>


  
    
    
</body>
</html>