<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de cliente</title>
</head>
<body>
    <h1>Informe o  nome do produto que voçê deseja excluir ou alterar cadastro:</h1>
    <form>
        
        <p>Produto : <input type="text" name="produto" id="produto"></p>
       Ação:<select name="opcao">
            <option value="1">Excluir</option>
            <option value="2">Alterar</option>
           </select>
           <br><br>
        <input type="submit" name="Consultar" id="consultar" value="Confirmar">
    </form>
</body>
</html>