<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de cliente</title>
</head>
<body>
    <form>
        <p>Nome : <input type="text" name="cliente" id="cliente"></p>
        <p>CPF : <input type="text" name="cpf" id="cpf"></p>
        <p>Data de nascimento : <input type="date" name="idade" id="idade"></p>
        <input type="submit" name="enviar" id="enviar">
    </form>
    
    
</body>
</html>