<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Historico de pedidos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

          
      <table border="1">
        <h1>Seu historico de pedidos:</h1>
    <tr>
    

    <th>nº do pedido</th>
    <th>data do pedido</th>
    
    </tr>
    <tr>
        <td>116511651656565165</td>
        <td>11/05/2005</td>
        

    </tr>
    <tr>
        <td>116511651656565165</td>
        <td>11/05/2005</td>
        

    </tr>
    <tr>
        <td>116511651656565165</td>
        <td>11/05/2005</td>
        

    </tr>
    <tr>
        <td>116511651656565165</td>
        <td>11/05/2005</td>
        

    </tr>
    </table>

        
        
        
    
    
    
</body>
</html>