<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
</head>

<body>
    
       <fieldset> Número do pedido: 116511651656565165</fieldset>
       <fieldset> Nome do cliente:</fieldset> 
       <fieldset> Produtos:</fieldset>
       
       <table border="1">
        

        <tr>
        
    
        <th>produto</th>
        <th>quantidade</th>
        <th>valor<th>
        
        </tr>
        <tr>
            <td>Sabão</td>
            <td>5</td>
            <td>?</td>
            
    
        </tr>
        <tr>
            <td>Álcool em gel</td>
            <td>3</td>
            <td>?</td>
            
    
        </tr>
        <tr>
            <td>Papel higiénico</td>
            <td>5000</td>
            <td>?</td>
            
    
        </tr>
        <tr>
            <td>Luvas</td>
            <td>10</td>
            <td>?</td>
            
    
        </tr>
        <tr>
            <td colspan="2">valor total</td>
            
            <td>?</td>
            
    
        </tr>
        </table>

      
       

        
        <br>
       
   

  
    
    
</body>
</html>